.root {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  min-height: 100vh;
}

.cell {
  font-size: 4rem;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
}

.cell.closed {
  background-color: darkgray;
  cursor: pointer;
}

.cell.open {
  background-color: #dcdcdc;
}

.cell.done {
  background-color: #a8db8f;
}

.cell.failed {
  background-color: #db8f8f;
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 640px;
  height: 480px;
  gap: 2px;
}

.screen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 640px;
  height: 480px;
  cursor: pointer;
}

.screen.green {
  background-color: #a8db8f;
}

.screen.gray {
  background-color: #dcdcdc;
}

.screen.red {
  background-color: #db8f8f;
}

.screen h1 {
  font-size: 3rem;
}

.status-line {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  color: gray;
}

.timer {
  margin-bottom: 1rem;
}